---
import LuaTypeComponent from "./LuaType.astro";
import type { LuaParam } from "./utils/lua";
import { typeOrDefault, getTypeDocs } from "./utils/lua";

type Props = {
	name: string;
	isMethod?: boolean;
	className: string;
	args: LuaParam[];
	returnType?: string;
};

const { name, className, args, returnType, isMethod } = Astro.props;
const returnTypeOrDefault = typeOrDefault(returnType);
const returnTypeUrl = getTypeDocs(returnTypeOrDefault);
---

<div class="declaration">
	<span class="declaration class">{className}</span>
	<span class="declaration">{isMethod ? ":" : "."}</span>
	<span class="declaration method">{name}</span>
	<span class="declaration">(</span>
	{
		args.map(({ name: argName }, index) => (
			<>
				<span class="declaration arg">{argName}</span>
				{index < args.length - 1 && <span class="declaration">,&nbsp;</span>}
			</>
		))
	}
	<span class="declaration">)</span>
	<span class="declaration type">
		&nbsp;{"-> "}
		<LuaTypeComponent url={returnTypeUrl} type={returnTypeOrDefault} />
	</span>
</div>
